* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    color: #171321;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
    width: 0;
    height: 0;
}
/* banner */
.banner {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171321;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-title {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 24px;
}

.banner-learn-more {
    color: white;
    font-weight: 400;
    margin-left: 24px;
    padding-left: 0;
    text-underline-offset: 2px;
    font-size: 18px;
    line-height: 20px;
    padding: 11px 16px;
}

/* banner */

/* header */
.header {
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.be-navigation-desktop{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 4px 24px 16px;
    height: 80px;
}

.be-navigation-mobile{
    display: none;
}

.header-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header-list a {
    margin-right: 16px;
}

.header-list div {
    display: inline-flex;
    font-weight: inherit;
    line-height: inherit;
    padding: 8px;
    background-color: transparent;
    align-items: center;
    text-align: center;
    color: #74717a;
    margin-right: 16px;
}

.header-list a {
    text-decoration: none;
    color: #74717a;
}

.header-list.icon {
    padding: 8px;
    color: black;
}

div.button {
    display: inline-flex;
    background-color: #171321;
    border: 1px solid #171321;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 16px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.button:hover {
    background-color: white;
    color: #171321;
}

/* header */

/* information */
.information {
    background-image: url(https://about.gitlab.com/nuxt-images/home/gradient.png);
    background-size: 100% 1400px;
    display: flex;
    padding: 32px 32px 64px;
    position: relative;
    animation: move 1s ease 0.5s forwards;
    overflow-x: scroll;
}

@keyframes move {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.information-title {
    flex: 0 0 460px;
    margin-right: 40px;
    margin-left: 64px;
    max-width: 460px;
}

.information-title h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 60px;
}

.information-title h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.information-title.button {
    margin-top: 24px;
    margin-bottom: 16px;
}

.information-img {
    background: linear-gradient(176deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .4));
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 40px;
    max-width: 460px;
    padding: 24px;
    transition: transform 0.3s ease;
}

.information-img img {
    margin-bottom: 16px;
}

.information-img div {
    align-items: center;
    border: 1px solid #7759c2;
    color: white;
    background-color: #7759c2;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    border-radius: 90px;
    width: fit-content;
    padding: 4px 12px;
}

.information-img h2 {
    padding-top: 8px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 32px;
    margin-bottom: 16px;
}

.information-img a.information-img-learn-more {
    margin: auto 0 0;
    padding: 11px 16px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 0;
    text-decoration: none;
    color: black;
}

/* information */

/* customer-logos */
.customer-logos_companies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 30px;
}

.logo-company {
    margin: 8px;
    flex: 0 1 110px;
    width: 110px;
}

.logo-company img {
    filter: grayscale(100%);
    width: 100%;
}

.customer-logos_trusted-by {
    color: #5a5761;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.customer-logos_trusted-by a {
    color: #171321;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* customer-logos */

/*platform */
.platform-flex {
    display: flex;

}

.platform h3 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 48px;
}

.platform p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.platform img {
    padding-left: 32px;
}

/* platform */

/* convenience */
.convenience {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 160px;
    margin-top: 64px;
    /* flex-wrap: wrap; */
    /* margin-left: 32px; */
}

.slp-row {
    display: flex;
    flex-wrap: nowrap;
}

.convenience-list {
    margin-right: 32px !important;
}

.convenience-list h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
}

.convenience-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.convenience-list p a {
    color: #7759c2;
    text-decoration: none;
}

.convenience-list p a:hover {
    text-decoration: underline;
}

/* convenience */

/* feature-showcase */
.feature-showcase {
    display: flex;
    position: absolute;
}

.feature-showcase_row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feature-showcase_row:last-child {
    padding-left: 16px;
}

.feature-showcase_card {
    background-color: #f6f3fe;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 16px;
    padding: 32px 24px;
}

.feature-showcase_card a {
    color: #171321;
    text-decoration: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
}

.feature-showcase_card p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}

.feature-showcase_card svg {
    margin-bottom: 16px;
}

.heading5 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
    margin-right: 8px;
}

.heading5 a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
    color: #7759c2;
    padding: 0;
}

.heading5 a:hover {
    text-decoration: underline;
}

.feature-showcase_pill {
    background-color: #fff;
    border-radius: 90px;
    align-items: center;
    display: inline-flex;
    margin-top: 16px;
    padding: 8px 24px;
    height: 50px;
}

.feature-showcase_pill p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
}

/* feature-showcase */

/* tabbed-feature */
.tabbed-feature {
    background: #171321;
    color: #fff;
    margin-top: 450px;
    padding-top: 250px;
    padding-bottom: 96px;
    /* padding: 64px 0 32px; */
}


.tabbed-feature h2 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.08deg, #feb484 1.97%, #a686f2 27.88%, #592ac8 65.98%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    line-height: 40px;
    max-width: 800px;
    margin-top: 16px;
    margin-bottom: 0;
}

.tabbed-feature p {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 60px;
    max-width: 800px;
}

.tabbed-feature-tabs {
    display: flex;
    padding: 64px 0;
}

.tabbed-feature-tabs_purple {
    background-color: #7759c2;
    color: white;
    border-radius: 90px;
    padding: 8px 24px;
    transition: all 0.3s ease;
    margin-right: 24px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
}

.tabbed-feature-tabs_grey {
    background-color: #45424d;
    color: white;
    border-radius: 90px;
    padding: 8px 24px;
    transition: all 0.3s ease;
    margin-right: 24px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
}

.tabbed-feature-row {
    display: flex;
    flex-wrap: nowrap;
}

.tabbed-feature-row img{
    width: 100%;
    height: 100%;
}

.tabbed-feature-col {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 32px;
    margin-bottom: 48px;
    color: #7759c2;
}

.tabbed-feature-col p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 32px;
    margin-bottom: 48px;
}

.tabbed-feature-col div a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-bottom: 32px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
}

/* tabbed-feature */

/* tabbed-case-studies__wrapper */
.tabbed-case-studies__wrapper {
    margin: 64px auto;
}

.tabbed-case-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    margin-bottom: 32px;
    margin-right: -16px;
}

.tabbed-case-logo img {
    height: 74px;
    margin-right: 32px;
    padding-bottom: 24px;
}

.case-study-tabpanel {
    display: flex;
}

a.info {
    text-decoration: none;
    color: #171321;
    transition: all .2s ease-in-out;
    font-family: Inter, "sans-serif";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 16px;
    text-align: center;
}

.case-study-tabpanel-0 {
    margin-right: 32px;
}

.case-study-tabpanel-1 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    width: 100%;
}

.case-study-tabpanel-1 p {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 48px;
    margin-bottom: 48px;
}

.case-study-tabpanel-1 p a {
    color: #7759c2;
    text-decoration: none;
}

.case-study-tabpanel-1 p a:hover {
    text-decoration: underline;
}

.ma-bott-32 {
    margin-bottom: 32px;
}

.tabbed-case-studies__pill {
    align-items: center;
    background: #f6f3fe;
    display: flex;
    border-radius: 90px;
    margin-top: 16px;
    padding: 8px 24px;
    height: 50px;
}

.tabbed-case-studies__pill h5 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    line-height: 80px;
    margin-right: 8px;
}

.tabbed-case-studies__pill p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.tabbed-case-studies__card {
    margin-bottom: 32px;
    margin-top: 32px;
    position: relative;
}

.tabbed-case-studies__quote {
    background-color: #f6f3fe;
    border-radius: 8px;
    margin-right: 40px;
    padding: 24px;
    margin-bottom: 0;
}

.say {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.author {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 32px;
}

.Company {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 106px;
}

.tabbed-case-studies__headshot {
    position: absolute;
    border-radius: 4.4px 4.4px 60px 4.4px;
    height: 154px;
    width: 154px;
    bottom: -62px;
    right: 0;
}

.tabbed-case-studies__headshot img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* tabbed-case-studies__wrapper */

/* recognition-spotlight */
.recognition-spotlight {
    background-image: url(https://about.gitlab.com/nuxt-images/home/bottom-gradient.png);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    padding: 0 0 96px;
    position: relative;
    z-index: 0;
}

.recognition-spotlight::before {
    background: linear-gradient(1turn, #fff, hsla(0, 0%, 100%, .75) 24.94%, hsla(0, 0%, 100%, 0));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    transform: scale(-1);
    width: 100%;
    z-index: -1;
}

.recognition-spotlight-row {
    display: flex;
    /* flex-wrap: wrap; */
}

.recognition-spotlight-leading {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    min-height: 1px;
    position: relative;
    width: 100%;
}

.recognition-spotlight-leading h2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 60px;
    margin: 0;
}

.recognition-spotlight-data {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    min-height: 1px;
    position: relative;
    width: 100%;
}

.recognition-spotlight-stats {
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
}

.recognition-spotlight-stat:first-of-type {
    margin-right: 32px;
}

p.stat1 {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2.1px;
    line-height: 72px;
}

p.stat2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.recognition-spotlight__wrapper {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 16px 16px;
    margin-bottom: 64px;
}

.recognition-spotlight__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    margin-bottom: 16px;
    padding: 32px;
    border-radius: 0;
}

.recognition-spotlight__card:first-of-type {
    border-radius: 8px 8px 0 0;
}

.recognition-spotlight__card:last-of-type {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
    border-radius: 0 0 90px 8px;
    padding: 32px 16px;
}

.recognition-spotlight__card img {
    margin-bottom: 24px;
}

.recognition-spotlight__card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}

p.rank {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    line-height: 40px;
}

.recognition-spotlight__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    gap: 42px;
}

.recognition-spotlight__badges img {
    width: 76px;
}

/* recognition-spotlight */

/* Ready */
.Ready {
    background: #171321;
    color: #fff;
    padding-bottom: 32px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.next-step-alt__container {
    background: #171321;
    border: 1px solid #45424d;
    border-radius: 12px;
    margin-top: -96px;
    padding: 32px 24px;
    display: flex;
    flex-wrap: wrap;
}

.next-step-alt__header {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(89.95deg, #feb484 3.13%, #a686f2 66.86%, #592ac8 123.2%);
    -webkit-background-clip: text;
    max-width: 480px;
}

.next-step-alt__header h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 48px;
    margin-bottom: 8px;
}

.next-step-alt__container-row p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 32px;
    margin-bottom: 16px;

}

a.free-trial {
    text-decoration: none;
    color: #171321;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
}

.next-step-alt__col-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.next-step-alt__col-cta {
    flex: 1 0 50%;
}

.next-step-alt__col-cta svg {
    margin-bottom: 24px;
}

.next-step-alt__col-cta p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

a.pricing {
    color: #fff !important;
    display: inline-block;
    text-align: left;
    padding-left: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    margin-top: 16px;
}

/* Ready */

/* footer */
.be-nav-footer {
    background-color: #171321;
    color: #fff;
    padding: 40px 16px;
    margin-top: 280px;
}

.footer__navigation {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin: 0 auto 0 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 150px;
    min-width: 2rem;
    width: 100%;
}

.footer__navigation h3 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0;
}

.links-item {
    margin-bottom: 8px;
}

.link {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 0;
}

.link:hover {
    text-decoration: underline;
}

.footer__cta {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

.footer__selectors {
    align-items: baseline;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding-bottom: 24px;
}

.language_selector {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.social-links-items {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 32px;
    width: 100%;
}


.social__links--icon {
    color: #fff;
    height: auto;
    transition: .3s;
    width: 24px;
}

.source p {
    font-size: 14px;
    margin-bottom: 8px;
}

.be-nav-footer__source-buttons {
    display: flex;
    gap: 8px 24px;
    font-size: 14px;
    margin-bottom: 8px;
}

.be-nav-footer__source-buttons a {
    color: #fff;
    font-weight: 600;
}

/* footer */

@media screen and (max-width: 576px) {
    .platform img {
        display: none;
    }

    .be-navigation-desktop{
        display: none;
    }
    .be-navigation-mobile{
        display: block;
    }

    .be-nav-tablet{
        display: none;
    }

    .be-nav-phone{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 4px 24px 16px;
        height: 80px;
    }
    .be-nav-footer {
    margin-top: 600px;
    }
}

@media screen and (min-width: 577px) {
    /* .tabbed-features {
        padding: 48px 0 64px;
    } */
    .tabbed-case-logo {
        margin-bottom: 64px;
        margin-right: auto;
    }

    .tabbed-case-studies__pill {
        min-width: 80%;
    }

    .tabbed-case-studies__card {
        margin-top: 0px;
    }

    .tabbed-case-studies__quote {
        padding: 48px;
    }

    .tabbed-case-studies__headshot {
        bottom: -32px;
    }

    .tabbed-case-studies__wrapper {
        margin: 96px auto;
    }

    .recognition-spotlight {
        background-size: 100% 100%;
        padding: 64px 0 96px;
    }

    .next-step-alt__container {
        padding: 64px;
    }
}

@media screen and (min-width: 640px) {
    .slp-container {
        max-width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
        width: 0;
        height: 0;
    }
    .information {
        flex-wrap: wrap;
    }

    .information-title .button {
        justify-content: center;
        margin-top: 16px;
        width: 100%;
    }

    .platform-flex {
        flex-wrap: wrap;
    }

    .platform img {
        padding-left: 0;
        width: 100%;
    }

    .customer-logos_companies {
        flex-wrap: wrap;
    }

    .customer-logos_trusted-by {
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .feature-showcase {
        flex-wrap: wrap;
    }

    .feature-showcase_row:last-of-type {
        padding-left: 0;
    }

    .feature-showcase_card {
        flex-wrap: wrap;
    }

    .tabbed-feature {
        /* margin-top: 840px; */
        padding-top: 650px;
    }

    .tabbed-feature-row {
        flex-wrap: wrap;
    }

    .case-study-tabpanel {
        flex-wrap: wrap;
        width: 100%;
    }

    .recognition-spotlight-row {
        flex-wrap: wrap;
    }

    .recognition-spotlight-leading {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .recognition-spotlight-data {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .recognition-spotlight__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .recognition-spotlight__badges {
        gap: 0;
    }

    .next-step-alt__col-wrapper {
        flex-wrap: wrap;
    }

    .slp-row {
        flex-wrap: wrap;
    }

    .convenience-list {
        margin-bottom: 32px;
    }

    .column {
        align-items: flex-start;
        gap: 30px;
        justify-content: space-between;
        max-width: 100%;
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .customer-logos_companies {
        justify-content: space-between;
    }

    .feature-showcase__card {
        border-radius: 8px 0 0 8px;
        margin-bottom: 0;
        padding: 32px;
    }

    .feature-showcase__card:first-of-type:not(:last-of-type) {
        border-radius: 0 8px 0 0;
    }

    .feature-showcase__card:last-of-type:not(:first-of-type) {
        border-radius: 0 0 90px 0;
    }

    .recognition-spotlight-stats {
        margin: 0 0 96px;
    }

    .recognition-spotlight__card {
        border-radius: 8px 0 0 0;
        margin-bottom: 0;
    }

    .recognition-spotlight__card:last-of-type {
        border-radius: 0 8px 90px 0;
        padding: 32px 48px;
    }

    .recognition-spotlight__badges img {
        width: 96px;
    }

    .next-step-alt__container-row {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        min-height: 1px;
        position: relative;
        width: 100%;
    }

    .be-nav-footer .column {
        max-width: 160px;
    }

    .logo {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
        min-height: 1px;
        position: relative;
        width: 100%;
    }

    .content {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
        min-height: 1px;
        position: relative;
        width: 100%;
    }

    .footer__cta {
        padding-top: 96px;
    }

    .footer__selectors {
        flex-direction: row;
    }
}

@media screen and (max-width: 835px) {
    .banner {
        align-items: normal;
        background-color: #eee7fd;
        flex-direction: column;
        padding: 16px;
    }

    .banner-title {
        color: #171321;
        margin-left: 0;
        margin-right: 0;
    }

    .banner-learn-more {
        color: #7759c2;
        margin-left: 0;
        padding: 0;
    }

    .banner img {
        opacity: 0;
    }
}

@media screen and (max-width: 1025px) and (min-width: 576px){
    .be-navigation-desktop{
        display: none;
    }
    .be-navigation-mobile{
        display: block;
    }

    .be-nav-phone{
        display: none;
    }
    
    .be-nav-tablet{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 4px 24px 16px;
        height: 80px;
    }

    .information-title {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .slp-container {
        max-width: 1024px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .information {
        padding: 64px 32px 96px;
    }

    .platform img {
        padding-left: 96px;
    }

    .customer-logos {
        max-width: 1024px;
        padding: 0;
    }

}

@media screen and (min-width: 1170px) {
    .slp-container {
        max-width: 1170px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px){
    .information{
        padding: 64px 96px 96px;
    }
}
@media screen and (min-width: 1220px) {
    .content {
        margin-top: 0;
    }

    .be-nav-footer {
        flex-direction: row;
    }
}
