* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #171321;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* banner */
.banner {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171321;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-title {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 24px;
}

.banner-learn-more {
    color: white;
    font-weight: 400;
    margin-left: 24px;
    padding-left: 0;
    text-underline-offset: 2px;
    font-size: 18px;
    line-height: 20px;
    padding: 11px 16px;
}

/* banner */

/* header */
.header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 4px 24px 16px;
    z-index: 1000;
}


.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header-list a {
    margin-right: 16px;
}

.header-list div {
    display: inline-flex;
    font-weight: inherit;
    line-height: inherit;
    padding: 8px;
    background-color: transparent;
    align-items: center;
    text-align: center;
    color: #74717a;
    margin-right: 16px;
}

.header-list a {
    text-decoration: none;
    color: #74717a;
}

.header-list.icon {
    padding: 8px;
    color: black;
}

div.button {
    display: inline-flex;
    background-color: #171321;
    border: 1px solid #171321;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 16px;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: #171321;
}

/* header */

/* information */
.information {
    background-image: url(https://about.gitlab.com/nuxt-images/home/gradient.png);
    background-size: 100% 1400px;
    display: flex;
    padding: 32px 32px 64px;
    position: relative;
    animation: move 1s ease 0.5s forwards;
    overflow-x: scroll;
}

@keyframes move {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.information-title {
    flex: 0 0 460px;
    margin-right: 40px;
    margin-left: 64px;
    max-width: 460px;
}

.information-title h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.4px;
    line-height: 60px;
}

.information-title h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.information-title.button {
    margin-top: 24px;
    margin-bottom: 16px;
}

.information-img {
    background-color: linear-gradient(176deg, hsla(0, 0%, 100%, .75), hsla(0, 0%, 100%, .4));
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 40px;
    max-width: 460px;
    padding: 24px;
    transition: transform 0.3s ease;
}

.information-img img {
    margin-bottom: 16px;
}

.information-img div {
    align-items: center;
    border: 1px solid #7759c2;
    color: white;
    background-color: #7759c2;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
    border-radius: 90px;
    width: fit-content;
    padding: 4px 12px;
}

.information-img h2 {
    padding-top: 8px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 32px;
    margin-bottom: 16px;
}

.information-img a.information-img-learn-more {
    margin: auto 0 0;
    padding: 11px 16px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 0;
    text-decoration: none;
    color: black;
}

/* information */

/* customer-logos */

.customer-logos_companies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 30px;
}

.customer-logos_companies a {
    margin: 8px;
    flex: 0 1 110px;
    width: 110px;
}

.customer-logos_companies a img {
    filter: grayscale(100%);
    width: 100%;
}

.customer-logos_companies.customer-logos_trusted-by {
    color: #5a5761;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.customer-logos_companies a img {
    filter: grayscale(100%);
    width: 100%;
}

/* customer-logos */

/*platform */
.platform {
    display: flex;
    /* justify-content: space-around; */
}

.platform-title {
    padding-left: 96px;
}

.platform h3 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 48px;
}

.platform p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.platform img {
    padding-left: 32px;
}

/* platform */

/* convenience */
.convenience {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    margin-top: 64px;
    flex-wrap: wrap;
    margin-left: 32px;
}

.convenience-list {
    margin-right: 32px !important;
}

.convenience h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px
}

.convenience p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px
}

.convenience p a {
    color: #7759c2;
    text-decoration: none;
}

.convenience p a:hover {
    text-decoration: underline;
}

/* convenience */

/* feature-showcase */
.feature-showcase {
    display: flex;
    position: absolute;
}

.feature-showcase_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
}

.feature-showcase_card {
    background-color: #f6f3fe;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 16px;
    padding: 32px 24px;
}

.heading5 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
    margin-right: 8px;
}

.feature-showcase_pill {
    background-color: #fff;
    border-radius: 90px;
    align-items: center;
    display: inline-flex;
    margin-top: 16px;
    padding: 8px 24px;
    height: 50px;
}

.feature-showcase_pill p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.feature-showcase_card p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

/* feature-showcase */

/* tabbed-feature */
.tabbed-feature {
    background: #171321;
    margin-top: 450px;
    padding-top: 150px;
}


.tabbed-feature h2,
.tabbed-feature p {
    /* color: linear-gradient(91.08deg,#feb484 1.97%,#a686f2 27.88%,#592ac8 65.98%); */
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    line-height: 40px;
    max-width: 800px;
    padding-left: 32px;
    margin-top: 16px;
    margin-bottom: 0;
}

.tabbed-feature-tabs {
    display: flex;
    padding: 64px;
    padding-left: 32px;
}

.tabbed-feature-tabs_purple {
    background-color: #7759c2;
    color: white;
    border-radius: 90px;
    padding: 8px 24px;
    transition: all 0.3s ease;
    margin-right: 24px;
}

.tabbed-feature-tabs_grey {
    background-color: #45424d;
    color: white;
    border-radius: 90px;
    padding: 8px 24px;
    transition: all 0.3s ease;
    margin-right: 24px;
}

.tabbed-feature-row {
    display: flex;
    flex-wrap: nowrap;
}

.tabbed-feature-col {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 32px;
    margin-bottom: 48px;
    color: #7759c2;
}

.tabbed-feature-col p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 32px;
    margin-bottom: 48px;
}

.tabbed-feature-col div {
    padding-left: 32px;
}

.tabbed-feature-col a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-bottom: 32px;
}

/* tabbed-feature */

/* tabbed-case-studies__wrapper */
.tabbed-case-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    margin-bottom: 64px;
    margin-right: auto;
}

.tabbed-case-logo img {
    height: 74px;
    margin-right: 32px;
    padding-bottom: 24px;
}

.case-study-tabpanel {
    display: flex;
}

/* Read more */
/* .case-study-tabpanel-0 a {
    text-decoration: none;
    color: #171321;
    margin-left: 32px;
    transition: all .2s ease-in-out;
    font-family: Inter,"sans-serif";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 16px;
    text-align: center;
} */

.case-study-tabpanel-0{
    width: 50%;
}

.case-study-tabpanel-1 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    width: 100%;
    margin: 0 32px;
}

.case-study-tabpanel-1 p {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 48px;
    margin-bottom: 48px;
}

.case-study-tabpanel-1 p a {
    color: #7759c2;
    text-decoration: none;
}

.case-study-tabpanel-1 p a:hover {
    text-decoration: underline;
}

.ma-bott-32 {
    margin-bottom: 32px;
}

.tabbed-case-studies__pill {
    align-items: center;
    background: #f6f3fe;
    display: flex;
    border-radius: 90px;
    margin-top: 16px;
    padding: 8px 24px;
    height: 50px;
    margin-left: 32px;
}

.tabbed-case-studies__pill h5 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    line-height: 80px;
}

.tabbed-case-studies__pill p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

/* tabbed-case-studies__wrapper */

@media screen and (min-width: 1024px) {
    .information {
        padding: 64px 32px 96px;
    }

    .platform-title {
        padding-left: 32px;
    }

    .platform img {
        padding-left: 96px;
    }

    .customer-logos {
        max-width: 1024px;
        padding: 0;
    }
}

@media screen and (max-width: 1025px) {

    /* .header-list {
        display: none;
    } */
    .information-title {
        margin-left: 0px;
    }

}

@media screen and (max-width: 835px) {
    .banner {
        align-items: normal;
        background-color: #eee7fd;
        flex-direction: column;
        padding: 16px;
    }

    .banner-title {
        color: #171321;
        margin-left: 0;
        margin-right: 0;
    }

    .banner-learn-more {
        color: #7759c2;
        margin-left: 0;
        padding: 0;
    }

    .banner img {
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .customer-logos_companies {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .information {
        flex-wrap: wrap;
    }

    .information-img {
        flex-wrap: nowrap;
    }

    .platform {
        flex-wrap: wrap;
    }

    .platform img {
        padding-left: 0;
        width: 100%;
    }

    .customer-logos_companies {
        flex-wrap: wrap;
    }

    .customer-logos_trusted-by {
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .feature-showcase {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 576px) {
    .tabbed-case-logo {
        margin: 96px auto;
    }

    .tabbed-case-studies__pill {
        min-width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .platform img {
        display: none;
    }
}